# OpenAI Configuration
OPENAI_API_KEY=your-openai-api-key-here

# Gemini API Configuration
GEMINI_API_KEY=AIzaSyCTFyrt0tO8JneilgGX48tTtgaNMKrS9Yc

# Personal Email Configuration (Update with your personal email)
PERSONAL_EMAIL_HOST=smtp.gmail.com
PERSONAL_EMAIL_PORT=587
PERSONAL_EMAIL_USER=jainmanan9876@gmail.com
PERSONAL_EMAIL_PASSWORD=irjmfiyypnznayln

# MongoDB Configuration (default local)
MONGODB_URI=mongodb://localhost:27017/ 

